<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Default host on {{ machine_hostname }}</title>
	<meta name="generator" content="BBEdit 10.5" />

	<style type="text/css">
	
	* { font-family: verdana, sans-serif; }
	
	body { padding: 20px 30px; }
	
	#greeting
	{
		border: 1px red solid;
		padding: 100px 0;
		text-align: center;
	}
	
	h1 { color: #888; }
		
	</style>
	
</head>
<body>
	<div id="greeting">
		<h1>Welcome to the default host on {{ machine_hostname }}</h1>
		<p>
		CNAME: {{ machine_fqdn }}
		</p>
		<p>
		<a href="info.php">Check out the PHP setup</a>
		</p>
	</div>
</body>
</html>
